.login {
    position: relative;
    height: 100%;
    background-color: rgb(207, 245, 231);
    .login-main {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        height: 500px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 1px 0px 30px rgba(141, 134, 134, 0.2);
        .login-main-left {
            width: 400px;
            img {
                margin-top: 100px;
                width: 400px;
                height: 300px;
            }
        }
        .login-main-right {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 400px;
            border-left: 1px solid rgb(231, 231, 231);
            h1 {
                font-size: 20px;
                margin-left: 5px;
            }
        }
    }
}
