.logo {
    height: 64px;
    text-align: center;
    line-height: 64px;
    color: #1890ff;
    font-size: 15px;
    background-color: #fff;
    border-bottom: 1px solid #b9ddff42;
    border-right: 1px solid #b9ddff42;
}

.ant-layout-header {
    background-color: #fff !important;
    box-shadow: 1px 4px 9px #d0d9e4;
}

.ant-layout-sider-trigger {
    border-top: 1px solid #b9ddff42;
    &:hover {
        border-top: 1px solid #1890ff;
        svg {
            color: #1890ff;
        }
    }
}

.visiable-card {
    .ant-card-body {
        height: 740px;
        max-height: 900px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 6px;
        }
        /* 滚动槽 */
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }
        /* 滚动条滑块 */
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(160, 160, 160, 0.4);
        }
    }
}
