* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body,
#root,
.App {
    height: 100%;
}

body {
    min-width: 900px;
}

ul,li {
    list-style: none;
}

.flex-box {
    display: flex;
}

